    <div class="menu-col">
        <% menu.forEach((item, index) => { %>
            <% if(left){ %>
            <% if(index % 2 !== 0 || index === 10 || index === 12) {
                if(index === 7 || index === 9){

                }else{
                    return
                }
                  
                 }%>
            <% }else{ %>
                <% if(index % 2 === 0 || index === 7 || index === 9) { 
                    if(index === 10 || index === 12){

                    }else{
                        return
                    }
                     
                    } %>
                <% } %>
                <div class="menu-item" order-by="<%= index %>">
                <h1><%= item.title %></h1>
                <% item.items.forEach((col, index) => { %>
                    <div class="price-title" parent-id="<%= item.id %>" child-id="<%= col.id %>">
                    <div class="title"><%= col.title %></div>
                    <div class="price"><%= col.price %></div>
                    </div>
                    <% if(col.subDesc){ %>
                        <% col.subDesc.forEach(sub => { %>
                            <div class="sub-desc"><%= sub %></div>
                        <% }) %>
                    <% } %>
                    <div class="desc"><%= col.desc %></div>
                    <div class="add-btn">Add</div>
                <% }) %>
                </div>
       <% }) %>
    </div>